@import '../../variables/colors.scss';

.helpers {
  &__icon {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: $black;
  }
}