@import '../../variables/colors.scss';


.header {

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &_wrap {
      flex-wrap: wrap;
      justify-content: center;
    }


    @media (max-width: $xsmall) {
      display: none;
    }
  }

  &__logo {
    height: 50px;
  }

  &__icon {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;


    &:hover {
      background-color: $red-crayon;
    }
  }

  &__whatsapp {
    background-color: $demeter-green;
  }

  &__telegram {
    background-color: $structural-blue;
  }

  &__telephone {
    color: $black;
  }


  &__block-mobile {
    display: none;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: $xsmall) {
      display: flex;
    }
  }

  &__btn {
    background-color: $red-crayon;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 7px;
  }
}