$black: #292D38;
$white: #FFFFFF;
$demeter-green: #00C704;
$structural-blue: #169AD3;
$red-crayon: #D1171A;
$gray-color: #F6F6F6;





$mini : 480px;
$xmini : 580px;
$xlmini : 680px;
$xsmall : 768px;
$small : 1024px;
$xnormal : 1366px;
$xlnormal : 1530px;
$normal : 1920px;