@import '../../variables/colors.scss';

.banner {

  height: 500px;

  &__img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: -1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    padding-bottom: 25px;
    width: 50%;
    height: 100%;

    @media (max-width: $xmini) {
      width: 100%;
    }
  }
}