@import '../../variables/colors.scss';

.warranty-and-service {

  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid $gray-color;
    max-width: 600px;
  }
}
  